Hello my name is Loretta I am 52 but not a bit blue.  Im lucky to have lived this long...ru

This is fun.  
Jesus is my best friend.
Life can be easy or hard.  We chose each day to be good or bad.  It is our reaction to valleys that make us WANT to climb to the 
top of the mountain, that is where we can only be stronger.  Our strength is inward, we learn to lean on God for strength, for we cannot go it alone.  We can only find strength in hardships for our inward being kicks in and is reborn through our creator.

Hello awesome Charleston class! Great to be here today! Can you tell me your name?

<form method = "post" action = "name">
	<input type = "text" name = "user_name">
	<input type = "submit"> 
</form>



